.wwa-inventory-widget{

}

.wwa-inventory-heading {
    background-color: darkred;
    color: white;
    height: 32px;
    font-size: 15px;
    line-height: 32px;
}

.wwa-inventory-icon {
    padding-left: 5px;
}

.www-inventory-title {

}

.wwa-inventory-body {

}

.wwa-inventory-area {

}

.wwa-inventory-river-name{

}

.wwa-inventory-item {

}

.wwa-inventory-amount {

}

.wwa-inventory-caption {

}

.wwa-inventory-caption {

}